.contentItem {
    padding: 3em;
    margin: 5em;
    //border: 5px solid black;
    border-radius: 20px;
}

.contentImage {
    max-height: 100%;
    max-width: 100%;
}

.is-last {
    border: 2px solid black;
    border-radius: 20px;
}

.searchBar {
    margin: auto;
    width: 50%;

    h2 {
        text-align: center;
    }

    button {
        margin: 2em 1em 2em 1em;
        width: 20%;
    }

    input {
        margin: 2em 1em 2em 1em;
        width: 60%;
    }
}

.type1 {
    border: 5px solid pink;
}

.type2 {
    border: 5px solid greenyellow;
}

.type3 {
    border: 5px solid lightblue;
}