.contentItem {
    padding: 5em;
    margin: 10em;
    border: 5px solid black;
    border-radius: 20px;
}

.contentImage {
    max-height: 100%;
    max-width: 100%;
}

.is-last {
    border: 2px solid black;
    border-radius: 20px;
}