<!-- <span *ngFor="let content of contentArray; last as isLast" [class.is-last]="isLast"> -->
    <div *ngFor="let content of contentArray; last as isLast" [class.is-last]="isLast" class="contentItem">
        <h1>Title: {{content.title}}</h1>
        <img class="contentImage" (click)="displayId(content.id)" *ngIf="content.imgURL" src="{{content.imgURL}}">
        <h3>Author: {{content.author}}</h3>
        <p>Description: {{content.body}}</p>
        <p *ngIf="content.type">Type: {{content.type}}</p>
        <h4 *ngIf="content.tags">Tags:</h4>
        <ul *ngFor="let tag of content.tags">
            <li>{{tag}}</li>
        </ul>
    </div>

<!-- </span> -->
